.smallblack {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial; TEXT-DECORATION: none
}
.smallgrey {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #626262; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial; TEXT-DECORATION: none
}
.smallblackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial; TEXT-DECORATION: none
}
.smallred {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff3300; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial; TEXT-DECORATION: none
}
.smallgreenbold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #669900; FONT-STYLE: normal; FONT-FAMILY: tahoma, arial; TEXT-DECORATION: none
}
.mediumblack {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumblackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumred {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff3300; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumredbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumgreen {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #669900; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumgreenbold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #669900; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumwhite {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.mediumwhitebold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.largeblackbold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
.largegreenbold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #336600; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
.largewhitebold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
.smallgreenlink {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma, ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma, ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma, ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: tahoma, ms sans serif; TEXT-DECORATION: underline
}
.smallbluelink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.smallbluelink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.smallbluelink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.smallbluelink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.mediumbluelink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.mediumbluelinksp {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelinksp:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelinksp:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumbluelinksp:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.mediumblackboldlink {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.mediumblackboldlink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.mediumblackboldlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: none
}
A.mediumblackboldlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: tahoma; TEXT-DECORATION: underline
}
.blackboldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.blackboldlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 16px; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.mediumwhiteboldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumwhiteboldlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumwhiteboldlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumwhiteboldlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffff00; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.largebluelink {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largebluelink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largebluelink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largebluelink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: underline
}
.largeblueboldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largeblueboldlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largeblueboldlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.largeblueboldlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: underline
}
.forminput {
	FONT: 11px Tahoma; COLOR: #333333
}
INPUT {
	FONT: 11px Tahoma; COLOR: #333333
}
.formselect {
	FONT: 11px Tahoma; COLOR: #333333
}
.chkbox {
	MARGIN: 2px 5px 0px; WIDTH: 12px; HEIGHT: 15px
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; MARGIN: 0px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; MARGIN: 0px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
.smallgreylink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreylink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreylink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreylink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: underline
}
.smallgreenlinksp {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlinksp:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlinksp:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: none
}
A.smallgreenlinksp:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: ms sans serif; TEXT-DECORATION: underline
}
.mediumblueboldlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumblueboldlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumblueboldlink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.mediumblueboldlink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003399; FONT-STYLE: normal; FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.tinygray {
	FONT: 11px Tahoma; COLOR: #999999
}
A.tinygray:link {
	FONT: 11px Tahoma; COLOR: #999999; TEXT-DECORATION: none
}
A.tinygray:visited {
	FONT: 11px Tahoma; COLOR: #999999; TEXT-DECORATION: none
}
A.tinygray:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
.tinydgray {
	FONT: 10px Tahoma; COLOR: #999999
}
A.tinydgray:link {
	FONT: 10px Tahoma; COLOR: #999999; TEXT-DECORATION: none
}
A.tinydgray:visited {
	FONT: 10px Tahoma; COLOR: #999999; TEXT-DECORATION: none
}
A.tinydgray:hover {
	FONT: 10px Tahoma; COLOR: #999999; TEXT-DECORATION: underline
}
.smalldgray {
	FONT: 11px Tahoma; COLOR: #999999
}
A.smalldgray:link {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A.smalldgray:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A.smalldgray:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
.list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 5px; PADDING-TOP: 0px
}
.list1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px 5px; PADDING-TOP: 0px
}
.list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 15px; PADDING-TOP: 0px
}
.list1 LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-POSITION: outside; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 0px 5px; PADDING-TOP: 0px
}
.bluepatch {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; BACKGROUND: #8ea6be; PADDING-BOTTOM: 3px; MARGIN: 20px 0px 5px; PADDING-TOP: 3px
}
#tblresult {
	BORDER-BOTTOM: #8ca6bd 1px solid
}
#tblresult .thead TD {
	BACKGROUND: #8ca6bd; FONT: bold 12px Arial; COLOR: #ffffff; BORDER-BOTTOM: medium none
}
#tblresult .blist TD {
	BACKGROUND: #deecf6; FONT: bold 11px Tahoma; COLOR: #333333
}
#tblresult TR TD {
	PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; FONT: 11px Tahoma; COLOR: #333333; PADDING-TOP: 5px
}
#tblresult A:link {
	FONT: 11px tahoma; COLOR: #0066cc; TEXT-DECORATION: none
}
#tblresult A:visited {
	FONT: 11px tahoma; COLOR: #0066cc; TEXT-DECORATION: none
}
#tblresult A:hover {
	TEXT-DECORATION: underline
}
FORM {
	MARGIN: 0px
}
.xlarge {
	FONT: bold 24px Tahoma; COLOR: #c2c2c2
}
.darkgray {
	COLOR: #666666
}
